body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  border-width: 400px;
  line-height: 1.4;
  color: #333;
}

/* 로고 */
header {
  background-color: blueviolet;
}
header .lnner {
  position: relative;
  background-color: orange;
  width: 1100px;
  height: 120px;
  margin: 0 auto;
}
header .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 75px;
  margin: auto;
}
header .logo img {}