/* common */
body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  border-width: 400px;
  line-height: 1.4;
  color: #333;
}

a {
  text-decoration: none;
}

/* 로고 */
header {
  background-color: blueviolet;
  position: relative;
}
header .lnner {
  position: relative;
  background-color: orange;
  width: 1100px;
  height: 120px;
  margin: 0 auto;
}
header .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 75px;
  margin: auto;
}

/* 서브 메뉴 */
header .sub_menu {
  position: absolute;
  top: 10px;
  right: 0;
  margin: auto;
  display: flex;
}
header .sub_menu ul.menu {
  display: flex;
  font-family: Arial, sans-serif;
}
header .sub_menu ul.menu li {
  position: relative;
}
header .sub_menu ul.menu li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub_menu ul.menu li:first-child::before {
  display: none;
}
header .sub_menu ul.menu li a {
  display: block;
  padding: 11px 16px;
  font-size: 13px;
  color: #656565;
}
header .sub_menu ul.menu li a:hover {
  color: #000;
}